:root {
    --header: rgb(146, 110, 127);
    --header-hover: rgb(129, 97, 112);
    --bg-main: rgba(153, 119, 135, 0.95);
    --bg-light: rgba(164, 139, 151, 0.95);
    --dark-solid: rgb(97, 73, 84);
  
    --monospace: Consolas, monospace;
    --serif: Georgia, serif;
    --sans-serif: Helvetica, Arial, sans-serif;
}

#options {
    display: block; 
    width: 300px;
    max-height: 600px;
    overflow-y: scroll;
    position: absolute;
    font-family: var(--monospace);
    border: solid 1px var(--dark-solid);
    margin: 10px;
    padding-bottom: 0.3em;
    background: var(--bg-light);
    font-size: 10px;
}

.options-header {
    background-color: var(--header-hover);
    border-bottom: 1px solid var(--dark-solid);
    padding: 0.4em 1em;
    display: flex;
    cursor: move;
    user-select: none;
}

.options-header h1 {
    font-size: 16px;
    margin: 0.1em 0;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.options-header button {
    width: 2.5em;
    height: 2.5em;
    margin-left: 2px;
    margin-right: 2px;
    color: black;
    background: none;
    font-size: 0.75em;
    border: 1px solid black;
    cursor: pointer;
}

.tab {
    border-bottom: 1px solid var(--dark-solid);
    height: 2.2em;
    display: flex;
    justify-content: space-between;
}

button.options {
    width: 100%;
    background-color: var(--bg-main);
    font-weight: bold;
    border: none;
    transition: 0.2s;
}

button.options:hover {
    background-color: var(--header-hover);
    color: white;
}

button.active {
    background-color: var(--header);
    color: white;
}

.tabcontent {
    display: none;
    padding: 0 12px 2px 12px;
    opacity: 0.9;
    text-align: justify;
}

.tabcontent a {
    color: #1d1b1c;
    font-weight: bold;
    text-decoration: underline;
}

.color-preview {
    width: 16px;
    height: 16px;
    border: 1px solid black;
}

#cp-header {
    background-color: var(--header);
}

#cp-headerhover {
    background-color: var(--header-hover);
}

#cp-bgmain {
    background-color: var(--bg-main);
}

#cp-bglight {
    background-color: var(--bg-light);
}

#cp-darksolid {
    background-color: var(--dark-solid);
}

.slider {
    width: 80%;
    margin: 8px auto;
}

.slider label {
    width: 120px;
    display: inline-block;
}